@{
    ViewData["Title"] = "Home Page";
}

 <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
      <div class="hero-container" data-aos="fade-in">
        <h1>AV GROUP ASIA</h1>
        <p>We are <span class="typed" data-typed-items="Quality, Responsible, Confidence, The Best"></span></p>
      </div>
    </section><!-- End Hero -->

@*    <main id="main">*@

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">

          <div class="section-title">
            <h2>О нас</h2>
            <p>Cтроительство, проектирование и реставрация частных, общественных и олимпийских бассейнов. Дизайн и
              обслуживание саун, аквапарков и хаммамов Ташкенте и других городах Средней Азии.
              Единственная компания в Узбекистане обладатель сертификата NSPF CPO (USA).</p>
          </div>

          <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
              <img src="~/img/skan_20181031-scaled-1-550x400.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h3>AV GROUP ASIA</h3>
              <p class="fst-italic">
                Весь наш опыт к вашим услугам!
              </p>
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Опыт работы:</strong> <span>15 лет</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Уложено мозаики:</strong> <span>~25 000 М²</span>
                    </li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Реализовано:</strong> <span>375 проектов</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Кристально чистой воды:</strong> <span>35 000
                        М³</span></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Качество:</strong> <span>100%</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Отзывы:</strong> <span>Все положительные</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Сайт:</strong> <span>https://av-group.uz/</span>
                    </li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Телефоны:</strong> <span>+998 95 011 55 11</span>
                    </li>
                  </ul>
                </div>
              </div>
              <p>
               Компания является представителем качества и скорости.Мы получаем заказы из за границы т.к у нас есть то чего нет во многих компаниях.Мы обладатели высокой репутации и идеальных отзывов от известных критиков.Компания обещает каждому клиенту гарантию качества и ее не остановят никакие трудности.
              </p>
            </div>
          </div>

        </div>
      </section><!-- End About Section -->

      <!-- ======= Facts Section ======= -->
      <section id="facts" class="facts">
        <div class="container">

          <div class="section-title">
            <h2>Факты</h2>
            <p>Какой бы не был трудный заказ, мы всегда принимаемся за работу и немотря на сложности мы выполним все в
              поставленный срок и будем отвечать за качество нашей работы.</p>
          </div>

          <div class="row no-gutters">

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span data-purecounter-start="0" data-purecounter-end="973" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p><strong>Happy Clients</strong> </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="count-box">
                <i class="bi bi-journal-richtext"></i>
                <span data-purecounter-start="0" data-purecounter-end="730" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p><strong>Сложных проектов</strong> </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
              <div class="count-box">
                <i class="bi bi-headset"></i>
                <span data-purecounter-start="0" data-purecounter-end="1450" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p><strong>Часов разговоров</strong> </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
              <div class="count-box">
                <i class="bi bi-people"></i>
                <span data-purecounter-start="0" data-purecounter-end="160" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p><strong>Профессиональных Работников</strong></p>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Facts Section -->

      <!-- ======= Skills Section ======= -->
      <section id="skills" class="skills section-bg">
        <div class="container">

          <div class="section-title">
            <h2>Оценка</h2>
            <p>Данный график показывает оценки клиентов и их отзывы в процентах.Все проценты показанны правильно без ложной информации.</p>
          </div>

          <div class="row skills-content">

            <div class="col-lg-6" data-aos="fade-up">

              <div class="progress">
                <span class="skill">Качество <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                    aria-valuemax="100">
                  </div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Дизайн <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                    aria-valuemax="100">
                  </div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Плохие отзывы <i class="val">15%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
              </div>

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

              <div class="progress">
                <span class="skill">Сложности Работы <i class="val">60%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Общение С клиентами <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                    aria-valuemax="100">
                  </div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Скорость Выполнения Работы <i class="val">85%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
      </section><!-- End Skills Section -->

      <!-- ======= Resume Section ======= -->
      <section id="resume" class="resume">
        <div class="container">

          <div class="section-title">
            <h2>Реализованные проекты:</h2>
            <p>Ниже указанная информация покажет какие виды мы можем сделать и как можно бужет заметить,ассортимент выбора у нас достаточно большой для данных работ по сравнению с компаниями конкурентами.Каждый заказ мы готовы принять и договориться с клиентом до мельчайших подробностей чтобы покупатель остался доволен.</p>
          </div>

          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Домашние бассейны</h3>
              <div class="resume-item pb-0">
                <h4>Открытые или Закрытые Бассейны</h4>
                <p><em>Для нашей компании целью является не просто строительство бассейна, а строительство уникальных
                    бассейнов для конкретного клиента. Мы хотим, чтобы построенный нами бассейн обладал современными
                    технологическими эстетическими особенностями, позволяющими решать поставленные задачи нашего клиента
                    и
                    получать максимальное удовольствие.</em></p>
                <img src="~/img/item-0-min.png" class="img-fluid" alt="">

              </div>
              <h3 class="resume-title">Общественные бассейны</h3>
              <div class="resume-item">
                <p><em>Это гидротехническое сооружение общественного пользования, которое находится под постоянным
                    контролем по соблюдению санитарно-эпидемиологических норм. Общественный бассейн как бизнес может
                    иметь
                    2 направления: лечебное и спортивное. Гидроконструкции первого типа строятся в медицинских
                    учреждениях, санаториях. К спортивным относят –аквапарки, тренировочные центры, бассейны при
                    фитнесс-центрах, гостиницах, СПА-салонах.</em></p>
                <img src="~/img/item-1-min.png" class="img-fluid" alt="">
              </div>
              <h3 class="resume-title">Фонтаны</h3>
              <div class="resume-item">
                <p><em>Фонтан всегда притягивает взоры. Кроме того, он по-прежнему является источником живительной влаги
                    и
                    своеобразным «лицом» города. По его состоянию можно сказать о многом. Именно вокруг фонтана люди
                    предпочитают собираться группами и проводить время. Вода делает воздух более влажным и дарит
                    драгоценную прохладу.</em></p>
                <img src="~/img/item-4-min.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Спортивные бассейны</h3>
              <div class="resume-item">
                <p><em>Общественный спортивный бассейн предназначен для регулярных занятий водными видами спорта,
                    проведения соревнований, помогает профессионалам и спортсменам обрести хорошую физическую форму и
                    поддерживать её на высоком уровне. </em></p>
                <img src="~/img/item-2-min.png" class="img-fluid" alt="">
              </div>
              <div class="resume-item">
                <h3 class="resume-title">Спа комплексы</h3>
                <p><em>Современный SPA – это комплекс профилактических процедур, ориентированный улучшение физического
                    состояния человека. Компонентами SPA являются термальные и минеральные воды, косметические средства,
                    лечебные грязи, морские соли и т.д.</em></p>
                <img src="~/img/item-3-min.png" class="img-fluid" alt="">
              </div>
              <div class="resume-item">
                <h3 class="resume-title">Проектирование</h3>
                <p><em>Направление на определение важных характеристик объекта и его составляющих путем детализации и
                    дополнения имеющихся сведений, составления расчетов и принятия решений по оптимизации первоначальных
                    характеристик объекта.</em></p>
                <img src="~/img/razrez-bassejn-proekt.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>

        </div>
      </section><!-- End Resume Section -->

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio section-bg">
        <div class="container">

          <div class="section-title">
            <h2>Проекты</h2>
            <p>Каждый наш проект это произведение исскуства. Мы готовы сделать любую работу за максимально короткий срок и выполнить ее качественно.Нам не важно общественный бассейн или для частного сектора.Ниже будут указаны фотографии наших недавних работ как для общественных бассейнов так и для частных.</p>
          </div>

          <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">ВСЕ</li>
                <li data-filter=".filter-app">Открытые</li>
                <li data-filter=".filter-card">Закрытые</li>
                <li data-filter=".filter-web">SPA</li>
              </ul>
            </div>
          </div>

          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="~/img/open.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                  <a href="~/img/open.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                    title="App 1"><i class="bx bx-plus"></i></a>
                 
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="~/img/item-3-min.png" class="img-fluid" alt="">
                <div class="portfolio-links">
                  <a href="~/img/item-3-min.png" data-gallery="portfolioGallery" class="portfolio-lightbox"
                    title="Web 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="~/img/closed.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                  <a href="~/img/closed.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                    title="App 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="~/img/item-2-min.png" class="img-fluid" alt="">
                <div class="portfolio-links">
                  <a href="~/img/item-2-min.png" data-gallery="portfolioGallery" class="portfolio-lightbox"
                    title="Card 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="~/img/spa.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                  <a href="assets/img/spa.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                    title="Web 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="~/img/item-1-min.png" class="img-fluid" alt="">
                <div class="portfolio-links">
                  <a href="~/img/item-1-min.png" data-gallery="portfolioGallery" class="portfolio-lightbox"
                    title="App 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="~/img/closed1.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                  <a href="~/img/closed1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                    title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="~/img/item-0-min.png" class="img-fluid" alt="">
                <div class="portfolio-links">
                  <a href="~/img/item-0-min.png" data-gallery="portfolioGallery" class="portfolio-lightbox"
                    title="Card 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="~/img/spa1.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                  <a href="~/img/spa1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                    title="Web 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Portfolio Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">

          <div class="section-title">
            <h2>Services</h2>
            <p>Работая с бассейнщиками в течение многих лет, мы заметили, что они часто встречают в интернете неверную информацию о бассейнах. В постах ранее мы уже развенчивали некоторые мифы о хлоре. Давайте еще раз озвучим их.</p>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">Исследование</a></h4>
              <p class="description">Исследователитакже видят многообещающие результаты в плавании как профилактику и лечение болезни Альцгеймера и других форм слабоумия. Упражнения в бассейне влияют на уровень серотонина в крови- да-да тот самый гормон “счастья” С регулярным плаванием или другими видами энергичных упражнений в бассейне вы можете чувствовать себя спокойнее и счастливее.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Мифы</a></h4>
              <p class="description">Слишком много хлорки в бассейне щиплет глаза. В данном случае как раз все наоборот. Ваши глаза будет щипать, если в бассейне недостаточно хлора. Хлорамины в воде, такие как дихлорамин и трихлорамин, раздражают кожу, глаза и дыхательные пути пловцов. Х-это побочные продукты, образующиеся при взаимодействии хлора со всеми загрязнениями в воде вашего бассейна. Вероятнее всего виновником красных, жгучих глаз, является моча в воде бассейна. Аммоний, содержащийся в моче, связывается с хлором, образуя специфический хлорамин, который и вызывает жжение в глазах и покраснение.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title"><a href="">Мифы</a></h4>
              <p class="description">Слишком много хлора приводит к тому, что волосы становятся зелеными. Сам хлор непосредственно не окрашивает ваши волосы в зеленый цвет. И сам хлор не является зеленым. А происходит это тогда, когда в воде присутствует много соединений металлов, особенно меди. Медь взаимодействует с хлором в воде, образуя соединение, которое связывается с внешним покрытием волоса – кутикулой. Она разрушается под воздействием высокого уровня меди. Попав в ваши волосы, медь окисляется, и волосы становятся зелеными. Но именно хлор заставляет медь «прилипать» к вашим волосам.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Плюсы</a></h4>
              <p class="description">Никого не удивлю заявив, что плавание полезно каждому Пожалуй, это единственная физическая нагрузка, которая дарит положительные эмоции и сохраняет здоровье Блaгoдapя нaличию бacceйнoв люди мoгут плaвaть кpуглый гoд нa peгуляpнoй ocнoвe. Но известно ли вам, что благодаря плаванию в бассейне можно вылечить даже тяжелые заболевания? Думаю, что немногие знают об этом</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
              <h4 class="title"><a href="">Плюсы</a></h4>
              <p class="description">Давно доказано, что причиной многих заболеваний является стресс. Сейчас у меня для вас хорошая и плохая новости Плохая - хронический стресс может привести к потере клеток головного мозга. Хорошая - клетки мозга можно регенерировать с помощью плавания и других водных упражнений! Peгуляpныe вoдныe тpeниpoвки oбладают pядом пpeимущecтв: - улучшают состояние при боли в пояснице, артрите - помогают реабилитироваться после травм - обеспечивают хорошее самочувствие и решают проблемы со сном</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">Плюсы</a></h4>
              <p class="description">Также хочу отметить спортсмена-пловца Джонни Вайсмюллера, карьера которого началась именно с оздоровительного плавания. В девятилетнем возрасте Джонни заразился полиомиелитом. По совету врача, чтобы ускорить излечение, он занялся плаванием. В итоге он не только стал здоров, но и установил огромное количество непобежденных рекордов</p>
            </div>
          </div>

        </div>
      </section><!-- End Services Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials section-bg">
        <div class="container">

          <div class="section-title">
            <h2>Руководство</h2>
            <p>Наше руководство и их фразы которые и определяют нашу компанию.Их слова повышают наш настрой на работу и дают понять что все что мы делаем должно быть идеальным.</p>
          </div>

          <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                     Мы в ответе за качество перед каждым заказчиком.Наша цель выхода на мировой рынок.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="~/img/boss1.jpg" class="testimonial-img" alt="">
                  <h3>Носков Антон Валерьевич</h3>
                  <h4>Основатель и директор</h4>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Гарантируем качество своей работы за указанный срок.Готовы к любым вызовам какими бы они не были труднымию
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="~/img/boss2.jpg" class="testimonial-img" alt="">
                  <h3>Комолов Гуломбек</h3>
                  <h4>Заместитель директора и начальник ПТО</h4>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                   Контент-маркетинг — комплекс мероприятий, с помощью которых создаются и размещаются полезные для целевой аудитории материалы. 
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="~/img/far.jpg" class="testimonial-img" alt="">
                  <h3>Фарход Сирожиддинов</h3>
                  <h4>Маркетолог</h4>
                </div>
              </div><!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>
      </section><!-- End Testimonials Section -->

    @*</main><!-- End #main -->*@

