@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 <div class="container-fluid">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-sm-9">
            <div class="row">
              <div class="col-12 col-lg-4">
                <ul id="menu-menyu-v-futere-ru" class="menu">
                  <li id="menu-item-71" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-71"><a
                      href="#">О нас</a></li>
                  <li id="menu-item-72" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-72"><a
                      href="#">Услуги</a></li>
                  <li id="menu-item-73" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-73"><a
                      href="#">Готовые проекты</a></li>
                  <li id="menu-item-225" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-225">
                    <a href="#">Климат</a></li>
                </ul>
              </div>
              <div class="col-12 col-lg-4">
                <ul class="phones">
                  <li><a href="tel:+998950115511"><img alt=""
                        data-src="https://av-group.uz/wp-content/uploads/2021/12/phone.svg"
                        class=" ls-is-cached lazyloaded"
                        src="https://av-group.uz/wp-content/uploads/2021/12/phone.svg"><noscript></noscript><img alt=""
                          data-src="https://av-group.uz/wp-content/uploads/2021/12/phone.svg" class="lazyload"
                          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript></noscript><img
                            alt="" data-src="https://av-group.uz/wp-content/uploads/2021/12/phone.svg" class="lazyload"
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img
                              src="https://av-group.uz/wp-content/uploads/2021/12/phone.svg" alt=""></noscript>+998 95
                          011
                          55 11 </a></li>
                  <li><a href="tel:+998950117711"><img alt=""
                        data-src="https://av-group.uz/wp-content/uploads/2021/12/phone.svg"
                        class=" ls-is-cached lazyloaded"
                        src="https://av-group.uz/wp-content/uploads/2021/12/phone.svg"><noscript></noscript><img alt=""
                          data-src="https://av-group.uz/wp-content/uploads/2021/12/phone.svg" class="lazyload"
                          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript></noscript><img
                            alt="" data-src="https://av-group.uz/wp-content/uploads/2021/12/phone.svg" class="lazyload"
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img
                              src="https://av-group.uz/wp-content/uploads/2021/12/phone.svg" alt=""></noscript>+998 95
                          011
                          77 11 </a></li>
                  <li><a href="tel:+998901740155"><img alt=""
                        data-src="https://av-group.uz/wp-content/uploads/2021/12/phone.svg"
                        class=" ls-is-cached lazyloaded"
                        src="https://av-group.uz/wp-content/uploads/2021/12/phone.svg"><noscript></noscript>
                        <img alt="" data-src="https://av-group.uz/wp-content/uploads/2021/12/phone.svg" class="lazyload"
                          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript></noscript>
                          <img alt="" data-src="https://av-group.uz/wp-content/uploads/2021/12/phone.svg"
                            class="lazyload"
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript>
                            <img src="https://av-group.uz/wp-content/uploads/2021/12/phone.svg" alt=""></noscript>+998
                          90
                          174
                          01 55</a></li>
                </ul>
              </div>
              <div class="col-12 col-lg-4">
                <div class="address-wrapper">
                  <div class="map-icon">
                    <img alt="" data-src="https://av-group.uz/wp-content/uploads/2021/12/map.svg"
                      class=" ls-is-cached lazyloaded"
                      src="https://av-group.uz/wp-content/uploads/2021/12/map.svg"><noscript><img
                        src="https://av-group.uz/wp-content/uploads/2021/12/map.svg" alt=""></noscript>
                  </div>
                  <div class="address">
                    <p>Республика Узбекистан, г.Ташкент,<br>
                      Мирабадский район,<br>
                      ул. Сайхун, 172.<br>
                      Индекс 100105</p>
                    <div class="socials">
                      <a href="http://facebook.com/av-group" target="_blank">
                        <img alt="" data-src="https://av-group.uz/wp-content/uploads/2021/12/facebook.svg"
                          class=" ls-is-cached lazyloaded"
                          src="https://av-group.uz/wp-content/uploads/2021/12/facebook.svg"><noscript><img
                            src="https://av-group.uz/wp-content/uploads/2021/12/facebook.svg" alt=""></noscript>
                      </a>
                      <a href="http://gmail.com" target="_blank">
                        <img alt="" data-src="https://av-group.uz/wp-content/uploads/2021/12/gmail.svg"
                          class=" ls-is-cached lazyloaded"
                          src="https://av-group.uz/wp-content/uploads/2021/12/gmail.svg"><noscript><img
                            src="https://av-group.uz/wp-content/uploads/2021/12/gmail.svg" alt=""></noscript>
                      </a>
                      <a href="http://tg.org" target="_blank">
                        <img alt="" data-src="https://av-group.uz/wp-content/uploads/2021/12/tg.svg"
                          class=" ls-is-cached lazyloaded"
                          src="https://av-group.uz/wp-content/uploads/2021/12/tg.svg"><noscript><img
                            src="https://av-group.uz/wp-content/uploads/2021/12/tg.svg" alt=""></noscript>
                      </a>
                      <a href="http://instagram.com" target="">
                        <img alt="" data-src="https://av-group.uz/wp-content/uploads/2021/12/insta.svg"
                          class=" ls-is-cached lazyloaded"
                          src="https://av-group.uz/wp-content/uploads/2021/12/insta.svg"><noscript><img
                            src="https://av-group.uz/wp-content/uploads/2021/12/insta.svg" alt=""></noscript>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>