@model AvGroup.Models.PoolForm

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AvGroup</title>
        <!-- Favicons -->
    <link href="assets/img/logo.svg" rel="icon">
    <link href="assets/img/logo.svg" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/lib/aos/aos.css" rel="stylesheet">
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AvGroup.styles.css" asp-append-version="true" />
</head>
<body>
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
     <header id="header">
        <partial name="_Header.cshtml" />   
    </header><!-- End Header -->

    <div class="container-fluid">
        <main role="main" class="pb-3" id="main">
            @RenderBody()
        </main>
    </div>
    <div>
        @*@await Html.PartialAsync("_PoolFormView", Model)*@
        @*<partial name="~/Views/Shared/_PoolFormView.cshtml" />*@
    </div>
     <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

     <footer class="site-footer" id="contacts">
        <partial name="_Footer.cshtml" />
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/lib/php-email-form/validate.js"></script>
    <script src="~/lib/purecounter/purecounter.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/typed.js/typed.min.js"></script>
    <script src="~/lib/waypoints/noframework.waypoints.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf") 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
